@charset "UTF-8";

.form-content {
	width: 600px;
	height: 100%;
	justify-content: space-between;
	align-items: center;
}

.form{
	padding: 10px;
	height: 500px;
	width: 100%;
	margin: 0;
	justify-content: center;
}

.form-input {
	border: none;
 	display: flex;
 	padding: 10px 10px 10px 0px;
 	justify-content: center;
}

.form-input input {
	border: 0px 0px 1px 0px;
	flex-grow: 1;
}
#title {
	position: absolute;
	
}

#loginForm {
	border: solid 2px saddlebrown;
	border-radius: 20px 0px 0px 20px;
}

#registerForm {
	border: solid 2px olive;
	border-radius: 0px 20px 20px 0px;
}

#formCover {
	top: 50%;
	left: 50%;
	border: solid 2px olive;
	border-radius: 20px 0px 0px 20px;
	transform: translate(-100%, -50%);
	width: 276px;
	background-color: olive;
	position: absolute;
	transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
	align-items: center;
}

.move-right {
	border: solid 2px saddlebrown !important;
	border-radius: 0px 20px 20px 0px !important;
	background-color: saddlebrown !important;
	transform: translate(0%, -50%) !important;
	transition: transform 0.5s ease-out;
}

#email, #email2 {
	width: 30%;	
}


.form-input::before {
	padding: 0 20px 0 0;
	content: "";
	width: 30px;
	height: 30px;
}

.id::before {
	background: url("/resources/img/icon-user.png") no-repeat center center;
	background-size: contain;
}

.nick::before {
	background: url("/resources/img/icon-nick.png") no-repeat center center;
	background-size: contain;
}

.pw::before {
	background: url("/resources/img/icon-pw.png") no-repeat center center;
	background-size: 27px;
}

.re-pw::before {
	background: url("/resources/img/icon-key.png") no-repeat center center;
	background-size: 25px;
}

.email::before {
	background: url("/resources/img/icon-key.png") no-repeat center center;
	background-size: 25px;
}

.tel::before {
	background: url("/resources/img/icon-key.png") no-repeat center center;
	background-size: 25px;
}

.addr::before {
	background: url("/resources/img/icon-key.png") no-repeat center center;
	background-size: 25px;
}