@charset "UTF-8";

.form-content {
	width: 600px;
	height: 100%;
	justify-content: space-between;
}

#loginForm, #registerForm{
	height: 500px;
	width: 100%;
	justify-content: center;
}

.form-input {
	border: none;
 	display: flex;
 	padding: 10px 10px 10px 0px;
 	justify-content: center;
}

.form-input input {
	border: 0px 0px 1px 0px;
	
	flex-grow: 1;
}

#email, #email2 {
	width: 30%;	
}

.border-radius-up {
	border-radius: 15px 15px 0 0 !important;
}

.border-radius-down {
	border-radius: 0 0 15px 15px !important;
}


.form-input::before {
	padding: 0 20px 0 0;
	content: "";
	width: 30px;
	height: 30px;
}

.id::before {
	background: url("/resources/img/icon-user.png") no-repeat center center;
	background-size: contain;
}

.nick::before {
	background: url("/resources/img/icon-nick.png") no-repeat center center;
	background-size: contain;
}

.pw::before {
	background: url("/resources/img/icon-pw.png") no-repeat center center;
	background-size: 27px;
}

.re-pw::before {
	background: url("/resources/img/icon-key.png") no-repeat center center;
	background-size: 25px;
}

.email::before {
	background: url("/resources/img/icon-key.png") no-repeat center center;
	background-size: 25px;
}

.tel::before {
	background: url("/resources/img/icon-key.png") no-repeat center center;
	background-size: 25px;
}

.addr::before {
	background: url("/resources/img/icon-key.png") no-repeat center center;
	background-size: 25px;
}